@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{

  --color-fondo: rgb(213, 208, 208);
  --color-titulos: #3b3b3b ;
  --color-subtitulos:  #968888;
  --color-titulos-skills: #3b3b3b ;
  --color-subtitulos-skills:  #000000;
  --color-Brand: #d5d5d5;
  --color-text-botones: #eaeaea;

  /* Fuentes */
  --fuente-titulos: 'Poppins', sans-serif;

  --color-panel:  #000000 ;

  /* Color principal */
  --color-principal:  #61c0f8 ;

}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-fondo);
}